<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tetris.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tetris.Properties.Settings>
            <setting name="StateButtonInitialValue" serializeAs="String">
                <value>Images/start.png</value>
            </setting>
            <setting name="BestScoreInitialValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ScoreInitialValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TimerInitialValue" serializeAs="String">
                <value>00:00:00</value>
            </setting>
            <setting name="StateButtonPauseValue" serializeAs="String">
                <value>Images/pause.png</value>
            </setting>
            <setting name="StateButtonToolTipInitialValue" serializeAs="String">
                <value>Press to start the game!</value>
            </setting>
            <setting name="StateButtonToolTipPausedValue" serializeAs="String">
                <value>Press to pause the game!</value>
            </setting>
            <setting name="StateButtonToolTipContinueValue" serializeAs="String">
                <value>Press to continue the game!</value>
            </setting>
            <setting name="DefaultUnits" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SpeedNormal" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ShowGridLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowNextFigure" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PlaySound" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WithAcceleration" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpeedWithAcceleration" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="PlaySoundImage" serializeAs="String">
                <value>Images/playsound.png</value>
            </setting>
            <setting name="MuteImage" serializeAs="String">
                <value>Images/mute.png</value>
            </setting>
            <setting name="PlaySoundButtonToolTip" serializeAs="String">
                <value>Press to mute!</value>
            </setting>
            <setting name="MuteButtonToolTip" serializeAs="String">
                <value>Press to play sound!</value>
            </setting>
            <setting name="TetrisUnits" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="StateButtonContinueValue" serializeAs="String">
                <value>Images/continue.png</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </Tetris.Properties.Settings>
    </userSettings>
</configuration>